<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style2.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="../js/index.js" defer></script>
    <script src="../js/selectedIcon.js" defer></script>
    <title>COMPONENTE FOOTER</title>
</head>

<body>
    <div class="sidebar__container">
        <div class="sidebar__header">
            <i class='bx bx-cog sidebar__logo'></i>
            <h1 class="sidebar__title">ADMIN PANEL</h1>
        </div>
        <div class="sidebar__nav-container">
            <ul class="sidebar__nav-ul">
                <a href="/" class="sidebar__nav-link"><li class="sidebar__nav-li">
                    <i class='bx bxs-home sidebar__nav-icon'></i>
                    Principal
                </li></a>
                <li class="sidebar__nav-li" id="products-menu">
                    <div class="sidebar__nav-li-title-container">
                        <i class='bx bxs-basket sidebar__nav-icon'></i>
                        <a class="sidebar__nav-link">Productos</a>
                        <i class='bx bx-down-arrow sidebar__nav-arrow' id="product-icon"></i>
                    </div>
                    <div id="products-sub-menu">
                        <ul class="sidebar__nav-sub-ul">
                            <a href="/products/index"><li class="sidebar__nav-sub-li"><span class="sidebar__nav-sub-link">Lista de productos</span></li></a>
                            <a href="/products/create"><li class="sidebar__nav-sub-li"><span class="sidebar__nav-sub-link">Crear producto</span></li></a>
                        </ul>
                    </div>
                </li>
                <a href="/category" class="sidebar__nav-link"><li class="sidebar__nav-li">
                    <i class='bx bxs-category sidebar__nav-icon'></i>
                    Categorías
                </li></a>
                <li class="sidebar__nav-li" id="components-menu">
                    <div class="sidebar__nav-li-title-container">
                        <i class='bx bxs-component sidebar__nav-icon'></i>
                        <a class="sidebar__nav-link">Componentes</a>
                        <i class='bx bx-down-arrow sidebar__nav-arrow' id="component-icon"></i>
                    </div>
                    <div id="components-sub-menu">
                        <ul class="sidebar__nav-sub-ul">
                            <a href="/components/header"><li class="sidebar__nav-sub-li"><span class="sidebar__nav-sub-link">Header</span></li></a>
                            <a href="/components/footer"><li class="sidebar__nav-sub-li"><span class="sidebar__nav-sub-link">Footer</span></li></a>
                            <a href="/components/home"><li class="sidebar__nav-sub-li"><span class="sidebar__nav-sub-link">Home</span></li></a>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar__logout-box">
            <form action="/auth/logout" method="POST">
                <label for="logout">
                    <i class='bx bx-log-out sidebar__logout-icon'></i>
                </label>
                <button type="submit" style="visibility:hidden" id="logout" name="logout">
            </form>
        </div>
    </div>
    <div class="main__big-container">
        <div class="main__container">
            <div class="main__box">
                <h1 class="main__title">Componente FOOTER</h1>
                <p class="main__description">🔗 Edita aquí todo lo relacionado con el footer de tu sitio:</p>
            </div>
        </div>

        <div class="main__container">
            <div class="main__box main__box-new-category">
                    <h1 class="main__title">Copyright:</h1>
                    <form action="/components/footer?_method=PUT" method="POST" id="copyright-change">
                        <label>
                            <div class="form__input-box">
                                <input type="text" name="copyright" class="form__input form__input--copyright" value="{{infoFooter.data.copyright}}">
                                <i class='bx bxs-copyright form__input-icon'></i>
                            </div>
                        </label>
                    </form>
                    <button type="submit" class="form__button" form="copyright-change">EDITAR</button>
            </div>
        </div>

        {{#each infoFooter.data.icons}}
        <div class="main__container">
            <div class="main__box">
                <form action="/components/footer?queryUrl={{navigate}}&_method=PUT" method="POST" enctype="multipart/form-data">
                        <h1 class="main__title">{{capitalize name}}:</h1>
                    <div class="form__container">
                        <label class="form__label">
                            <p class="form__title-field">NOMBRE:</p>
                            <div class="form__input-box">
                                <input type="text" name="name" class="form__input" value="{{name}}">
                                <i class='bx bxs-pin form__input-icon'></i>
                            </div>
                        </label>

                        <label class="form__label">
                            <p class="form__title-field">LINK NAVEGACIÓN:</p>
                            <div class="form__input-box">
                                <input type="text" name="navigate" class="form__input" value="{{navigate}}">
                                <i class='bx bx-link-alt form__input-icon' ></i>
                            </div>
                        </label>

                        <label class="form__label" for="icon_{{navigate}}">
                            <p class="form__title-field form__title-field--icon">ICONO: <img src="{{icon}}" alt={{name}} class="form__icon" />
                            </p>
                            <div class="form__input-box">
                                <span class="form__button form__button--img" id="{{navigate}}">CAMBIAR</span>
                            </div>
                            <input type="file" name="icon" class="form__input--none" id="icon_{{navigate}}" onchange="changeNameFile(icon_{{navigate}})">
                        </label>
                    </div>
                <div class="form__button-box">
                    <button type="submit" class="form__button">EDITAR {{name}}</button>
                </div>
                </form>
            </div>
        </div>
        {{/each}}
        <a class="main__back-button" onclick="goBack()">VOLVER</a>
        <div class="footer__container">
            <p class="footer__text">Todos los derechos reservados © Admin Panel 2021</p>
        </div>
    </div>
</body>

</html>